<div class="row root-container">
    <div class="col-4" *ngIf='member'>
        <div class="card">
            <img src="{{member.photoUrl||'.assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
            <div class="card-body">
                <div>
                    <strong>
                        Location:
                    </strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
                <div class="row">
                   <div class="col-6">
                    <strong>
                        Joined On:
                    </strong>
                    <p>{{member.created}}</p>
                   </div>
                   <div class="col-6">
                    <strong>
                        Last Seen
                    </strong>
                    <p>{{member.lastActive}}</p>
                   </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex ml-5 mr-5">
                    <div class="btn btn-primary btn-lg ">Follow</div>
                    <div class="btn btn-info btn-lg">Message</div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset >
            <tab heading='About'>
                {{member.knownAs}}
               

            </tab>
            <tab  heading='Skills'>
                {{member.skills}}
                {{member.skills}}
                {{member.skills}}
                {{member.introduction}}

            </tab>
            <tab  heading='Projects'>
                <div #grid class="grid" muuriGrid [config]="layoutConfig">
                    <div class="item" muuriGridItem  *ngFor='let p of member.projects'>
                        <div class="item-content">
                            <app-project-card [project]='p'></app-project-card>
                        </div>
                    </div>
                </div>
              
               
            </tab>
            <tab  heading='Message'>
               
            </tab>
        </tabset>

    </div>
</div>