

<div class="card mt-4 mb-4 ml-4 mr-4" > 
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl}}" alt="{{member.knownAs}}" class="card-img-top">
        <div class="text-center animate info">
            <i class="fa fa-info-circle fa-2x " aria-hidden="true" routerLink='/members/{{member.userName}}'></i>
        </div>
    </div>
    
    <div class="card-body p-1">
       <h4 class="card-title text-center mb-1">
           {{member.knownAs}} 
        </h4>
        <div class="row">
            <div class="col-6">
                <p class="card-text text-muted text-center">National Instiute Of Technology Kurukshetra Kurukshetra</p>
            </div>
        </div>
       
        <div class="social-links">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-linkedin-square fa-2x card-link"></i>
                </div>
                <div class="col-4">
                <i class="fa fa-github-square fa-2x card-link"></i>
                </div>
                <div class="col-4">
                    <i class="fa  fa-envelope-square fa-2x card-link"></i>
                </div>
            </div>
        </div>
       
    </div>
</div>



