<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 class="text-center">
                Your Profile
            </h1>
        </div>
        <div class="col-8">
            <div class="alert alert-info" *ngIf='editForm.dirty'>
               
                    <strong>Information:</strong>
                    You have Made Changes.Any Unsaved Changes May Lost
               
            </div>
        </div>
        <div class="col-4" *ngIf='member'>
            <div class="card">
                <img src="{{member.photoUrl||'.assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
                <div class="card-body">
                    <div>
                        <strong>
                            Location:
                        </strong>
                        <p>{{member.city}},{{member.country}}</p>
                    </div>
                    <div class="row">
                       <div class="col-6">
                        <strong>
                            Joined On:
                        </strong>
                        <p>{{member.created}}</p>
                       </div>
                       <div class="col-6">
                        <strong>
                            Last Seen
                        </strong>
                        <p>{{member.lastActive}}</p>
                       </div>
                    </div>
                </div>
                <div class="card-footer">
                <button [disabled]='!editForm.dirty' form='editForm'class="btn btn-success btn-block">
                    Save 
                </button>

                   
                </div>
            </div>
        </div>
        <div class="col-8">
            <tabset >
                <tab heading='About {{member.knownAs}}'>
                    <form #editForm="ngForm" id='editForm' (ngSubmit)='updateMember()'>
                        <h4>Description</h4>
                        <textarea class="form-control" rows='6' [(ngModel)]="member.introduction" name="introduction"></textarea>
                        <h4 class="mt-2">Skills</h4>
                        <textarea class="form-control"  rows='6' [(ngModel)]="member.skills" name="skills" ></textarea>
                        <h4 class="mt-2">Organization</h4>
                        <input  [(ngModel)]="member.organization" type="text" class="form-control mx-2" name="organization">
                        <h4 class="mt-2">Location</h4>
                        <div class="form-inline">
                            <label for="city" >City</label>
                            <input  [(ngModel)]="member.city" type="text" class="form-control mx-2" name="city">
                            <label for="country" >Country</label>
                            <input  [(ngModel)]="member.country" type="text" class="form-control mx-2" name="country">
                        </div>
                    </form>
                   
    
                </tab>
               
                <tab  heading='Projects'>
                    <h1>
                        project will go here
                    </h1>
                   
                </tab>
            </tabset>
    
        </div>
    </div>
</div>
