<div class="grid">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5">
    <a class="navbar-brand" routerLink='/'>Find My Mate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0" >
            <ng-container *ngIf="loggedIn">
              <li class="nav-item ">
                <a class="nav-link" routerLink="/members" routerLinkActive='active'>Followers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/lists"routerLinkActive='active'>Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/message"routerLinkActive='active'  >Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " (click)="logout()"  >Logout</a>
              </li>
            </ng-container>
            <li class="nav-item">
              <a class="nav-link " routerLink="/errors"routerLinkActive='active'  >Errors</a>
            </li>
          </ul>
  
          <div class="dropdown" *ngIf="loggedIn" dropdown>
              <a  class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username |titlecase}}</a>
              <div class="dropdown-menu" *dropdownMenu>
                  <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">logout</a>
              </div>
          </div>
  
          <form *ngIf="!loggedIn" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login() " autocomplete="off">
            <input class="form-control mr-sm-2"
              name="username"
              [(ngModel)]="user.username"
              type="text"
              placeholder="Username"
              aria-label="Username">
  
            <input class="form-control mr-sm-2" 
              name="password"
              [(ngModel)]="user.password"
              type="password"
              placeholder="Password" 
              aria-label="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
      </div>
     
    </nav>
</div>